<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to the API version of my site fellas!</h1>

                <h2>I Modified the code in this template to jump-start my ASP.NET Web API development, you should too instead of chatting while
                we're in class.</h2>
            </hgroup>
            <p>
                I had some trouble making AppHarbor set this project show in the API version and Presentation in the other one.
            </p>
            <p>
                The problem was that we had two Web Applications in our solution: Project.Presentation and Project.API, and AppHarbor had to decide by itself which one to show.
            </p>
            <p>
                I read about the way it picked the project <a href="http://blog.appharbor.com/2012/06/25/deploying-solutions-with-multiple-web-projects-on-appharbor" title="Deploying solutions with multiple web projects on AppHarbor">here</a>.
                AppHarbor picks the project in alphabetical order. API is before Presentation, so API is picked.
                As the post says, a way to fix this issue is to make copies of the ".sln" file and rename it to the application's "slug" on AppHarbor (The string that
                appears in the address field in the form SLUG.apphb.com) once you do that, append the name of the project. In our case if we want to set the Presentation as the default
                we rename it as "proyectopresentation". Well, I did that and it didnt work. What I ended up doing was renaming the Presentation project so that it was placed before API, I renamed it to "Project.ActivePresentation"
            </p>
            <p>
                Now, that fixes the issue in the Presentation version. What about the API version? Well, to make it work I created an applicacion with the same name and appended "api" to it. So the slug for my main application is "guessitsoccer", and the slug for my API version is "guessitsoccerapi". So I made a copy of the solution and renamed that copy to "guessitsoccerapi.sln".
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>I suggest you do the following:</h3>
        <ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
                STOP losing your time watching anime instead of practicing C#.
            </li>

            <li class="two">
                <h5>Read the books the professor gave us</h5>
                Did you even open those PDFs?
            </li>
            <li class="three">
                <h5>Look for more documentation</h5>
                Do as Jimmy did and read the book "Beginning Programming with Visual C# 2012".
            </li>
            <li class="four">
                <h5>Don't try to do what the professor does in class</h5>
                Just pay attention! Taking notes could be useful too but listening and making questions should be enough.
            </li>
            <li class="five">
                <h5>My wording is fine, leave me alone!</h5>
                Think I can't write? Hey, I was almost falling asleep when I wrote this!
            </li>
        </ol>
    </section>
</div>
