@{
    PageData["title"] = "GuessIt Soccer | Leagues";
}
<body ng-controller="LeaguesCtrl" ng-init="loadLeagues()">
    <h2>Leagues</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>League Name {{variable}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="league in availableLeagues">
                <td>{{league.id}}</td>
                <td><a href="/admin/league/{{league.id}}">{{league.Name}} <span class="disabled" ng-show="!league.IsArchived">(Disabled)</span></a></td>
                <td>
                    <button class="btn btn-default" ng-click="editLeague(league.Name)">Edit</button>
                </td>
                <td>
                    <button ng-class="(league.IsArchived)?'btn-warning':'btn-success'" class="btn" ng-click="setLeagueEnabled(league, !league.IsArchived)">
                        <span ng-show="!league.IsArchived">Enable</span>
                        <span ng-show="league.IsArchived">Disable</span>
                    </button>
                </td>
                <td><button ng-click="deleteLeague(league.Name)" class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div class="row" ng-hide="isEditing">
        <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="addNewLeague()">
            <h2 class="text-center">New League</h2>
            <div class="form-box">
                <div class="form-group">
                    <input ng-model="newLeagueName" type="text" class="form-control" placeholder="League Name" required />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" ng-disabled="!(newLeagueName)" disabled>Add League</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-show="isEditing">
        <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="updateLeague()">
            <h2 class="text-center">Edit League</h2>
            <div class="form-box">
                <div class="form-group">
                    <input ng-model="updatedName" type="text" class="form-control" placeholder="League Name" required />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Save</button>
                    <button class="btn btn-primary btn-block" type="button" ng-click="cancelEditLeague()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</body>
