@{
    PageData["title"] = "GuessIt Soccer | Leagues";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
	<header>Welcome!</header>
    <div>
    	Hi there, {{username}}!
    </div>
</body>
</html>
