@{
    PageData["title"] = "AngularJS SPA Template for Visual Studio";
}
<h2>Welcome to my Site!</h2>
<p>This is just a demo page.</p>
<p></p>
<p></p>
<p></p>
<p>...but I actually added some text here as you can see.</p>