@{
    PageData["title"] = "GuessIt Soccer | League";
}
<body ng-controller="SingleLeagueCtrl">
    <h2>Teams</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Team Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="team in teamsFilter">
                <td>{{team.teamID}} </td>
                <td>{{team.name}} <span class="disabled" ng-show="!team.isEnabled">(Disabled)</span></td>
                <td><button ng-click="editTeam(team.name)" class="btn btn-default">Edit</button></td>
                <td>
                    <button ng-class="(team.isEnabled)?'btn-warning':'btn-success'" class="btn" ng-click="setTeamEnabled(team, !team.isEnabled)">
                        <span ng-show="!team.isEnabled">Enable</span>
                        <span ng-show="team.isEnabled">Disable</span>
                    </button>
                </td>
                <td><button ng-click="deleteTeam(team.name)" class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div class="row" ng-hide="isEditing">
        <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="addNewTeam()">
            <h2 class="text-center">New Team</h2>
            <div class="form-box">
                <div class="form-group">
                    <input ng-model="newTeamName" type="text" class="form-control" placeholder="Team Name" required />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" ng-disabled="!(newTeamName)" disabled>Add League</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-show="isEditing">
        <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="updateTeam()">
            <h2 class="text-center">Edit League</h2>
            <div class="form-box">
                <div class="form-group">
                    <input ng-model="updatedName" type="text" class="form-control" placeholder="Team Name" required />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Save</button>
                    <button class="btn btn-primary btn-block" type="button" ng-click="cancelEditTeam()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <h2>Games</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Match</th>
                <th>Date and Time</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="games in gamesFilter">
                <td>{{game.id}}</td>
                <td>{{getTeam(game.team1,toString()).name}} vs {{getTeam(game.team2).name}}<span class="disabled" ng-show="!game.isEnabled">(Disabled)</span></td>
                <td><button ng-click="editgame(game.name)" class="btn btn-default">Edit</button></td>
                <td>
                    <button ng-class="(game.isEnabled)?'btn-warning':'btn-success'" class="btn" ng-click="setGameEnabled(game, !game.isEnabled)">
                        <span ng-show="!game.isEnabled">Enable</span>
                        <span ng-show="game.isEnabled">Disable</span>
                    </button>
                </td>
                <td><button ng-click="deleteGame(game.id)" class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</body>
