@{
    PageData["title"] = "GuessIt Soccer | Leagues";
}
<body ng-controller="LeaguesCtrl">
	<table>
		<tr>
			<th>ID</th>
			<th>League Name</th>	
		</tr>
		<tr ng-reapeat="league in leagues">
			<td>{{league.id}}</td>
			<td>{{league.name}}</td>
		</tr>
	</table>
</body>
