<div class="container">
    <div style="display: block;" id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="alert-success" ng-show="requestSent">We have sent an email with instructions on how to recover access to your account. Please check your inbox.</div>
        <h4 class="">
            Forgot your password?
        </h4>
        
        <form accept-charset="UTF-8" role="form" id="login-remind" ng-submit="submitRequest()" method="post">
            <fieldset>
                <span class="help-block">
                    Email address you use to log in to your account
                    <br>
                    We'll send you an email with instructions to choose a new password.
                </span>
                <div class="form-group input-group">
                    <span class="input-group-addon">
                        &#64;
                    </span>
                    <input class="form-control" placeholder="Email" name="email" type="email" required="">
                </div>
                <button type="submit" class="btn btn-primary btn-block" id="btn-forgotten">
                    Continue
                </button>
                <p class="help-block">
                    <a class="text-muted" href="/login" id="access"><small>Account Access</small></a>
                </p>
            </fieldset>
        </form>
    </div>
</div>